.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding-top: 20px;
}

.navbar-inverse {
  border-radius: 0px;
  background-image: linear-gradient(#FFF 0px, #EEE 100%);
}

.navbar-inverse .navbar-brand {
  text-shadow: rgba(0, 0, 0, 0.05) -1px -1px 0px;
  color: #000;
}

.navbar-inverse .navbar-nav > li > a {
  color: black;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: blue;
}

.navbar-inverse .navbar-brand:hover {
  color: blue;
}

.jumbotron {
  background-color: #FFF;
}
