---
layout: default
custom_css: true
custom_js: true
---

<div class="container">
    <div class="row">
        <div class="col-sm-8 blog-main">
            {% if site.posts.size > 0 %}
            <div class="blog-post">
                <h2>Posts</h2>
                <ul>
                    {% for post in site.posts %}
                    <li>
                        <span class="blog-post-meta">{{ post.date | date: "%b %-d, %Y"}}</span>
                        <h3>
                            <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                        </h3>
                    </li>
                    {% endfor %}
                </ul> 
            </div><!-- /.blog-post -->
            {% endif %}
        </div><!-- /.blog-main -->
        {% include blog_sidebar.html %}
    </div><!-- /.row -->
</div>
