<div class="container">
  <div class="user-details">
    <br/>
    <h3> {{site.about.title}} </h3>
    <p> {{site.about.description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Operating Systems</h4>
      {% include windows.svg %}
      {% include linux.svg %}
      {% include apple.svg %}
      <p>
        10+ years of supporting Window Desktop and server products. 5 years
        experience with administration in Linux environments such as RHEL,
        Ubuntu, and ESXi. 2 year experience support Mac &amp; IOS software.
      </p>
    </div>
    <div class="four columns">
      <h4>Cloud</h4>
      {% include aws.svg %}
      <p>
        Extensive experience with AWS. Templating and deploying new
        environments. Hands on experience managing windows server environments
        utilizing direct connect to AWS network.
      </p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      {% include github.svg %}
      {% include atom.svg %}
      {% include docker.svg %}
      {% include photoshop.svg %}
      <p>
        Experience working on opensource projects on Github. Some
        experience with Photoshop 2018 CC &amp; Docker containers. Atom is my
        prefered code editor.
      </p>
    </div>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Frontend</h4>
      {% include html5.svg %}
      {% include css3.svg %}
      {% include sass.svg %}
      {% include bootstrap.svg %}
      {% include javascript.svg %}
      {% include coffeescript.svg %}
      <p>
        Serveral years of experience dealing with frontend technologies,
        frameworks, and pre-processors.
      </p>
    </div>
    <div class="four columns">
      <h4>Backend</h4>
      {% include apache.svg %}
      {% include rails.svg %}
      {% include node.svg %}
      {% include mongodb.svg %}
      {% include mysql.svg %}
      <p>
        Experience with LAMP stack web servers with RDBMS and NoSQL. Experienced
        at newer web server stacks such as Rails (Ruby) and NodeJS (MEAN).
      </p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      {% include c.svg %}
      {% include cplusplus.svg %}
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-ruby-plain-wordmark colored"></i>
      {% include golang.svg %}
      <p>
        Started out with Java, C, C++ over ten years ago. Have good experience
        with Ruby and Python. Scripting languages like Perl. I have really delved
        deep into Golang and it is currently my language of choice for all my new
        projects. 
      </p>
    </div>
  </div>
</div>
