<div class="container">
  <div class="user-details">
    <br/>
    <h3> {{site.about.title}} </h3>
    <p> {{site.about.description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Operating Systems</h4>
      {% include windows.svg %}
      {% include linux.svg %}
      {% include apple.svg %}
      <p>
        10+ years of supporting Window Desktop and server products. 5 years
        experience with administration in Linux environments such as RHEL,
        Ubuntu, and Kali. 2 year experience support Mac &amp; IOS software.
      </p>
    </div>
    <div class="four columns">
      <h4>Cloud</h4>
      {% include aws.svg %}
      <p>
        Extensive experience with AWS. Templating and deploying new
        environments. Hands on experience managing windows server environments
        utilizing direct connect to AWS network.
      </p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-atom-original-wordmark"></i>
      {% include docker.svg %}
      {% include bitbucket.svg%}
      <p>TODO</p>
    </div>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Frontend</h4>
      {% include html5.svg %}
      {% include css3.svg %}
      {% include sass.svg %}
      {% include bootstrap.svg %}
      <p>TODO</p>
    </div>
    <div class="four columns">
      <h4>Backend</h4>
      {% include apache.svg %}
      {% include rails.svg %}
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>TODO</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      {% include c.svg %}
      {% include coffeescript.svg %}
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>TODO</p>
    </div>
  </div>
</div>
