<div class="container">
  <div class="user-details">
    <br/>
    <h3> {{site.about.title}} </h3>
    <p> {{site.about.description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>OS</h4>
      {% include windows.svg %}
      {% include linux.svg %}
      {% include apple.svg %}
      <p>
        10+ years of supporting Windows Desktop (Win95 to Win10) and server 
        products (NT to 2k19). 9 years experience with administration in 
        Linux environments such as RHEL, Centos, Ubuntu, and ESXi. 
        4 year experience support Mac &amp; IOS software.
      </p>
    </div>
    <div class="four columns">
      <h4>Cloud</h4>
      {% include aws.svg %}
      {% include gcp.svg %}
      <p>
        Extensive experience with AWS and GCP. Great experience templating 
        and deploying new environments. Lots of hands on experience with
        VPC and infrastructure management. Indepth knowledge of the
        Kubernetes and Conatiner services each cloud provider has.
      </p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      {% include github.svg %}
      {% include docker.svg %}
      {% include vscode.svg %}
      {% include photoshop.svg %}
      <p>
        Experience working on opensource projects on Github, GitLab, 
        and BitBucket. 3 years of Professional experience maintaining and 
        deploying containerized systems with Docker and orchestration with
        kubernetes. Studio Code is my prefered code editor. Experienced
        with Photoshop CC &amp; Adobe's Creative Suite.
      </p>
    </div>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Frontend</h4>
      {% include html5.svg %}
      {% include css3.svg %}
      {% include javascript.svg %}
      <p>
        Serveral years of experience dealing with frontend technologies like 
        HTML, CSS, Javascript with frameworks and pre-processors like jQuery,
        CoffeeScript, SASS. Experienced in PHP and managing and deploying
        WordPress websites.
      </p>
    </div>
    <div class="four columns">
      <h4>Backend</h4>
      {% include apache.svg %}
      {% include rails.svg %}
      {% include node.svg %}
      {% include nginx.svg %}
      <p>
        Experience with LAMP stack web servers with RDBMS and NoSQL. Knowledgable 
        maintaining Apache and Nginx webservers and proxies. Some Experience
        at newer web server stacks such as Ruby on Rails and MEAN Stack (node).
        Have developed my own APIs and interfacing with Web APIs using JWT or
        proxy server authentication.
      </p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <!-- get Java, Ruby, Python SVGs-->
      {% include golang.svg %}
      {% include c.svg %}
      {% include cplusplus.svg %}
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-ruby-plain-wordmark colored"></i>
      <p>
        Started out with Java, C, C++ over ten years ago. Have good experience
        with Ruby and Python. Scripting languages like Perl. I have really delved
        deep into Golang and it is currently my favorite language for all my new
        projects. 
      </p>
    </div>
  </div>
</div>
