<div class="col-sm-3 offset-sm-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>{{site.about.description}}</p>
    </div>
    <div class="sidebar-module">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled">
            <li><a href="https://github.com/{{site.user.github}}">GitHub</a></li>
            <li><a href="https://twitter.com/{{site.user.twitter}}">Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/{{site.user.linkedin}}">LinkedIn</a></li>
        </ol>
    </div>
</div><!-- /.blog-sidebar -->