<div id="particles-js">
  <div class="content">
      <h1>
        <span class="site-title">{{site.user.name}}</span>
        <span class="site-description">{{site.user.title}}</span>
      </h1>
      <div class="icons-header">
        <a aria-label="Send email" href="mailto:{{site.user.email}}"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{site.user.twitter}}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/{{site.user.github}}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <a class="link" href="#about" data-scroll>{{site.about.title}}</a>
      <a class="link" href="#projects" data-scroll>{{site.project_section.title}}</a>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
