<div id="particles-js">
  <div class="content">
      <h1>
        <span class="site-title">{{site.user.name}}</span>
        <span class="site-description">{{site.user.title}}</span>
      </h1>
      <div class="icons-header">
        <a aria-label="Send email" href="mailto:{{site.user.email}}" title="Email"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{site.user.twitter}}" title="Twitter"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/{{site.user.github}}" title="Github"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My Linkedin" target="_blank" href="https://www.linkedin.com/in/{{site.user.linkedin}}" title="LinkedIn"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Resume" target="_blank" href="/assets/media/resume.pdf" title="Resume"><i class="icon fa fa-file-text" aria-hidden="true"></i></a>
      </div>
      <a class="link" href="#about" data-scroll>{{site.about.title}}</a>
      <a class="link" href="#projects" data-scroll>{{site.project_section.title}}</a>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
