<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
		{% include analytics.html %}
	</head>
	<body>
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/">Brady Walsh</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right">
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="/about">About</a></li>
		            <li><a href="/cv">CV</a></li>
		            <li><a href="/blog">Blog</a></li>
		          </ul>
		        </li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

		<div class="jumbotron">
			<div class="container">
				{{ content }}
			</div>
		</div><!-- /.container -->
		<footer class="footer">
			<div class="container">
				<p class="text-muted">
					&copy; Brady Walsh |
					<a href="mailto:knighthawk0192@gmail.com">knighthawk0192@gmail.com</a> |
					<a href="https://github.com/knighthawkbro">github.com/knighthawkbro</a> |
					<a href="https://www.facebook.com/knighthawkbro">Facebook</a> |
					<a href="https://twitter.com/knighthawkbro">Twitter</a> |
					<a href="https://www.linkedin.com/in/brady-walsh-3a81593b">LinkedIn</a>
				</p>
			</div>
		</footer>
		<script src="/js/jquery.js"></script>
		<script src="/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
	</body>
</html>
